<template>
  <div class="home">
    <h2>Hi, I'm Joseph Marshall</h2>
    <LinkList header="Projects" :list="projects" />
    <LinkList header="Relevant Links" :list="relevant" />
    <LinkList header="Personal Links" :list="personal" />
    <LinkList header="Email" :list="contact" />
  </div>
</template>

<script>
export default {
  name: "Home",
  data: function() {
    return {
      projects: [
        {
          text: "Sheep Generator",
          href: "https://sheep.j-m.dev"
        },
        {
          text: "D&D Campaign Site",
          href: "https://dnd.j-m.dev"
        }
      ],
      relevant: [
        {
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/Tocseoj/"
        },
        {
          text: "GitLab",
          href: "https://gitlab.com/Tocseoj"
        },
        {
          text: "GitHub",
          href: "https://github.com/Tocseoj"
        }
      ],
      personal: [
        {
          text: "Instagram",
          href: "https://www.instagram.com/tocseoj"
        },
        {
          text: "Twitter",
          href: "https://twitter.com/tocseoj"
        }
      ],
      contact: [
        {
          text: "joe.scot.marshall@gmail.com",
          href:
            "mailto:joescotmarshall@gmail.com?subject=Question for Joseph Marshall"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
h2 {
  font-size: 1.5em;
}
</style>
