<template>
  <div>
    <h3>{{ header }}</h3>
    <ul>
      <li v-for="(link, index) in list" :key="index">
        <a :href="link.href" target="_blank" rel="noopener">{{ link.text }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["header", "list"]
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
